{% extends "base.html" %}

{% block title %}Calendar{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="../static/css/calendar.css">
{% endblock %}

{% block content %}
<div class="card"> 
    <div class="card-body">
        <div class="card-header d-flex justify-content-between border-0">
            <a href="{{ url_for('calendar_routes.calendar_server', year=prev_year, month=prev_month) }}" class="btn btn-tertiary text-center">&laquo;</a>
            <div class="d-flex align-items-center ">{{month_name}} {{year}}</div>
            <a href="{{ url_for('calendar_routes.calendar_server', year=next_year, month=next_month) }}" class="btn btn-tertiary text-center">&raquo;</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
                        <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for week in calendar %}
                <tr>
                    {% for day in week %}
                    <td>
                        {% if day != 0 %}
                            <a href="{{ url_for('calendar_routes.view_day', year=year, month=month, day=day) }}" class="day-link">
                                <div>{{ day }}</div>
                                {% if overdue_tasks_by_day[day] %}
                                    <div class="task-count text-danger">{{ overdue_tasks_by_day[day] }} Task{{ 's' if overdue_tasks_by_day[day] > 1 else '' }} Overdue</div>
                                {% elif tasks_by_day[day] %}
                                    <div class="task-count">{{ tasks_by_day[day] }} Task{{ 's' if tasks_by_day[day] > 1 else '' }} Due</div>
                                {% endif %}
                            </a>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
