{% extends "base.html" %}

{% block title %}Mark Complete{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="../static/css/task.css">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Mark Task "{{ task.title }}" as complete?</h1>
    {% if error %}
        <p class="error">{{ error }}</p>
        <a href="{{ url_for('dashboard') }}" class="button cancel mark">Back</a>
    {% else %}
    <form action="{{ url_for('todo_routes.mark_complete', task_id=task.id) }}" method="post">
        <button class="button mark" type="submit">Yes, Mark Complete</button>
        <a href="{{ url_for('dashboard') }}" class="button cancel mark">Cancel</a>
    </form>
    {% endif %}
</div>
{% endblock %}
